<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatBot</title>
</head>
<body>
  <div class="app">
    <div class="chat">
        <header>Chatbot</header>
        <main>
            <section>
                <div class="message" *ngFor="let m of messages"[ngClass]="{'me': m.me}">
                  <p>{{ m.text }}</p>
                </div>
                <img src="https://loading.io/spinners/message/lg.messenger-typing-preloader.gif" *ngIf="loading" style="width: 50px"/>
                <textarea [disabled]="loading" placeholder="Envie uma mensagem..." [(ngModel)]="message"></textarea>
                <button class="btn" (click)="sendMessage()">
                  ENVIAR
                </button>
            </section>
        </main>
    </div>
  </div>
</body>
</html>
<router-outlet></router-outlet>
