@import url('https://fonts.googleapis.com/css?family=Lato');

.chat * {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
}

.chat {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.chat header {
  font-weight: bold;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
}

.chat section {
  padding: 10px 20px;
  background-color: #050033;
  color: white;
  display: flex;
  flex-direction: column;
}

.chat section * {
  border-radius: 10px;
}

.chat section .message {
  padding: 10px;
  border-left: 3px solid #260ff1;
  background: #ffffff;
  color: #000000;
  margin-bottom: 5px;
  width: 80%;
}

.chat section .message.me {
  padding: 20px;
  border: none;
  border-right: 3px solid #260ff1;
  background-color: rgba(231, 231, 231, 0.7);
  color: #000000;
  align-self: flex-end;
}

.chat section .message p {
  padding-bottom: 10px;
}

.chat textarea {
  padding: 20px;
  border: 2px solid #260ff1;
}

.chat textarea:focus {
  outline: none;
  border: 2px solid #f39c12;
}

.chat button {
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: #0f0099;
  color: aliceblue;
  cursor: pointer;
}
